<div id="featured" class="grid col-940" style="margin-top: 20px">
  <div class="grid center">
    <h1 class="featured-title">Nanyang Polytechnic</h1>
    <h2 class="featured-subtitle">Students' Union</h2>
    <p>
      <img src="assets/nypsufamily.jpg" width="100%" />
    </p>
  </div>
</div>

<div id="widgets" class="home-widgets">
  <div class="grid col-300">
    <div class="widget-wrapper">
      <div id="fb-root"></div>
      <script>(function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="widget-title-home">
        <h3>Facebook</h3>
      </div>
      <div class="textwidget height350">
        <div class="fb-like-box" data-href="http://www.facebook.com/nypstudentunion" data-width="250" data-height="351" data-show-faces="true" data-stream="false" data-header="false">
        </div>
      </div>
    </div>
  </div>

  <div class="grid col-300">
    <div class="widget-wrapper">
      <div class="widget-title-home">
        <h3>Twitter</h3>
      </div>
      <div class="textwidget height350"><a class="twitter-timeline"  href="https://twitter.com/NYPSU_GRP" data-widget-id="281728719175946240">Tweets by @NYPSU_GRP</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
      </div>
    </div>
  </div>

  <div class="grid col-300 fit">
    <div class="widget-wrapper">
      <div class="widget-title-home">
        <h3>NYP Sites</h3>
      </div>
      <div class="textwidget height350">
        <a href="http://www.nyp.edu.sg/" target="_blank">NYP Home Page</a><br />
        <a href="http://my.nyp.edu.sg/" target="_blank">NYP Student Portal</a><br />
        <a href="http://nypambassadors.blogspot.sg/" target="_blank">NYP Ambassadorial Team</a><br />
        <a href="http://nyp-nyaa.blogspot.sg/" target="_blank">NYAA Student Club</a><br />
        <a href="https://www.facebook.com/NYPGuitarClub/" target="_blank">NYP Guitar Club</a><br />
        <a href="http://www.facebook.com/nyp.soundcard/" target="_blank">NYP Soundcard</a><br />
        <a href="http://foreignbodies.blogspot.sg/" target="_blank">Foreign Bodies Dance Group</a><br />
        <a href="http://nypgrizzlers.blogspot.sg/" target="_blank">NYP Grizzlers Cheerleading Team</a><br />
      </div>
    </div>
  </div>
</div>