<h2>Students' Union</h2>
<img src="/assets/nypsulogo2.png" alt="NYPSU" style="float:right; border:none" />
<p>
  The Nanyang Polytechnic Students' Union (NYPSU) is the official organization of students within NYP.<br />
  It is managed and ran by students elected into office each year.<br />
  NYPSU aims to:<br />
<ul>
  <li>Promote educational, social and cultural activities among its members</li>
  <li>Foster interaction, rapport and a collegiate spirit among its members</li>
  <li>Safeguard the interests of NYP and the Union</li>
</ul><br />
Together with the Executive Committee, the Council plans and organizes activities and evevnts for
the NYP student body.
</p>

<h2>Vision</h2>
<p>
  Nurture the Youths' Passion and Strive as one United NYP
</p>

<h2>Mission</h2>
<p>
  Upholding the 4 pillars:<br />
  Passion for Excellence – Strive hard in everything you do and believe that with burning passion,
  nothing is impossible<br />
  Personal Discipline – Pursue goals with determination and uphold the Students’ Union reputation<br />
  Caring support – Make a difference by extending help to those experiencing setbacks and struggles<br />
  Connected Community – Be an everlasting friend that look out for each other and build a bond that
  will last a lifetime
</p>

<h2>Theme for the Year</h2>
<p>
  To learn. To lead. To empower.
</p>